caption {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    caption-side: top;
    color: black;
}

table {
    border-collapse: separate;
    margin: 0 auto;
}

form {
    width: 320px;
}

td {
    border: 3px solid black;
    text-align: center;
    --cell-size: 5vmin;
    width: clamp(20px, var(--cell-size), 50px);
    height: clamp(20px, var(--cell-size), 50px);
}

p {
    text-align: center;
}

input[type="number"] {
    width: 80px;
}

.PLAYER1 {
    background-color: blue;
}

.PLAYER2 {
    background-color: yellow;
}

.PLAYER1,
.PLAYER2 {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes path {
    to {
        background-color: brown;
        color: white;
    }
}